<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InventoryDB" connectionString="Data Source=|DataDirectory|\InventoryDatabase.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="logs\system_log.txt" />
    <add key="ReportOutputPath" value="reports\" />
    <add key="LowStockThreshold" value="10" />
  </appSettings>
</configuration>